/* figtree-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Figtree-500';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/figtree-v9-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* figtree-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Figtree-800';
  font-style: normal;
  font-weight: 800;
  src: url('../assets/fonts/figtree-v9-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
    --figtree-500: 'Figtree-500';
    --figtree-800: 'Figtree-800';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

body {
    font-family: var(--figtree-500);
    color: hsl(0, 0%, 7%);
}

.title {
    font-size: 24px;
    font-family: var(--figtree-800);
    line-height: 150%;
    letter-spacing: 0px;
}

.description {
    color: hsl(0, 0%, 42%);
}

main {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: hsl(47, 88%, 63%);
}

.card {
    width: clamp(327px, 2vw, 384px);
    /* height: 501px; */
    background: hsl(0, 0%, 100%);
    padding: 24px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    box-shadow: 10px 10px 0px 0px hsl(0, 0%, 7%);
    border: 1px solid hsl(0, 0%, 7%);
}

.illustration-article {
    width: 100%;
    border-radius: 10px;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.social img {
    width: 32px;
    height: 32px;
}

.social {
    display: flex;
    align-items: center;
    gap: 12px;
}

.social p {
    font-family: var(--figtree-800);
}

.tag {
    padding: 4px 12px;
    background:hsl(47, 88%, 63%);
    border-radius: 4px;
    font-family: var(--figtree-800);

}