/* figtree-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Figtree-500';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/figtree-v9-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* figtree-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Figtree-800';
  font-style: normal;
  font-weight: 800;
  src: url('../assets/fonts/figtree-v9-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
    /* fonts */
    --figtree-500: 'Figtree-500';
    --figtree-800: 'Figtree-800';

    /* colors */
    --yellow: hsl(47, 88%, 63%);

    --white: hsl(0, 0%, 100%);
    
    --gray-500: hsl(0, 0%, 42%);
    --gray-950: hsl(0, 0%, 7%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

body {
    font-family: var(--figtree-500);
    font-size: clamp(0.8rem, 2vw, 1rem);
}

h1, p {
    line-height: 150%;
    letter-spacing: normal;
}

.title {
    font-size: clamp(1.2rem, 3vw, 1.4rem);
    font-family: var(--figtree-800);
    color: var(--gray-950);
    transition: 0.1s all ease-in-out;
}

.title:hover {
    color: var(--yellow);
    cursor: pointer;
}

.description {
    color: var(--gray-500);
}

.date {
    font-size: clamp(0.7rem, 2vw, 0.9rem);
}

main {
    min-height: 100dvh;
    display: grid;
    place-items: center;
    background: var(--yellow);

}

.card {
    width: clamp(20.4375em, 90%, 24em);
    background: var(--white);
    padding: 1.5em;
    border-radius: 1.25em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5em;
    box-shadow: 10px 10px 0px 0px var(--gray-950); /* <offset-x>, <offset-y>, <blur-radius>, <spread-radius> <color> */
    border: 1px solid var(--gray-950);
}

.illustration-article {
    width: 100%;
    border-radius: 0.625em;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75em;
}

.author img {
    width: 32px;
    height: 32px;
}

.author {
    display: flex;
    align-items: center;
    gap: 0.75em;
}

.author p {
    font-family: var(--figtree-800);
    font-size: clamp(0.7rem, 2vw, 0.9rem);
}

.tag {
    padding: 0.25em 0.75em;
    background: var(--yellow);
    border-radius: 0.25em;
    font-family: var(--figtree-800);
    font-size: clamp(0.7rem, 2vw, 0.9rem);
}